
/* ------------------------------------------ */
/* ------------------------------------------ */
/* ------------------------------------------ */

html,body {
  background-color: #F5E5D3;
  background-image: url('./assets/bg/bklik_texture\ 1.png');
  background-blend-mode: multiply;
  /* background-size: contain; */
  background-repeat: repeat;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 4px;
  box-sizing: border-box;
  border: 16px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/* ******* configs ********* */
.bg-texture {
  background-image: url('./assets/bg/bklik_texture\ 1.png');
  background-blend-mode: multiply;
  /* background-size: contain; */
  background-repeat: repeat;
}


.bg-orange {
  background-color: #D06646;
}

.bg-green {
  background-color: #808552;
}

.bg-green-dark {
  background-color: #848C52;
}

.bg-grey {
  background-color: #E4E4E4;
}

.bg-wood {
  background-color: #F5E5D3;
}


.text-green {
  color: #808552;
}

.text-orange {
  color: #D06646;
}

.text-lightGrey{
  color : #ACA6A6;
}

.text-grey {
  color: #B2B2B2;
}

.text-darkGrey {
  color: #646464;
}


.border-green {
  border: 1px solid #808552;
}

.border-orange {
  border: 1px solid #D06646;
}

.border-green-2 {
  border: 2px solid #808552;
}
